h1{
 color:#cd5c5c;
 font-family:"02うつくし明朝体";
}

body{
 font-family:"せのびゴシック Medium";
}

li{
  list-style:none;
  padding:33px 20px; 
}

.header{
  background-color:#ffe4c4;
}

.header-logo{
  font-size:36px;
  float:left;
  padding:20px 40px;
}

.main{
  background-color:#f5f5f5;
  li{
    float:left;
  }
}

.footer{
       background-color:#bc8f8f;
       height:90px;
}
